<header>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-white">
      <div class="container-fluid">
        <button
          class="navbar-toggler"
          type="button"
          aria-controls="jumbotronExample"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <i class="fas fa-bars"></i>
        </button>
        <div
          mdbCollapse
          class="collapse navbar-collapse"
          id="jumbotronExample"
        >
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item active">
              <a class="nav-link"  href="/">Accueil</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/masters">Masters</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/promotion">Promotions</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/actualite">Actualité</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/contact">Contact</a>
              </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- Navbar -->
  
   
  </header>