<section class="top-nav">
    <div>
        ECOLE DE DROIT (ICON)
    </div>
    <input id="menu-toggle" type="checkbox" />
    <label class='menu-button-container' for="menu-toggle">
        <div class='menu-button'></div>
    </label>
    <ul class="navbar-nav  mb-2 mb-lg-0 menu">
        <li class="nav-item active">
            <a class="nav-link" href="/">Accueil</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/masters">Masters</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/promotion">Promotions</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/actualite">Actualité</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/contact">Contact</a>
        </li>
    </ul>
</section>